**
!Dockerfile
!Caddyfile
!docker-entrypoint.sh
!thumbnail_worker.py
!transcode_service.py
!service_runner.py
!upstream/
!upstream/docs/
!upstream/docs/images/
!upstream/index.html
!upstream/embed.html
!upstream/styles.css
!upstream/app.js
!upstream/settings.js
!upstream/resilience.js
!upstream/vendor/
!upstream/vendor/**
!upstream/THIRD_PARTY_NOTICES.md
!upstream/generate_thumbnails.py
!upstream/folderframe.config.json
!upstream/LICENSE
!upstream/docs/images/folderframe-logo.png
!upstream/docs/images/folderframe-logo-back.png
!upstream/docs/images/folderframe-icon.png
