**
!Dockerfile
!Caddyfile
!docker-entrypoint.sh
!thumbnail_worker.py
!upstream/
!upstream/docs/
!upstream/docs/images/
!upstream/index.html
!upstream/embed.html
!upstream/styles.css
!upstream/app.js
!upstream/settings.js
!upstream/resilience.js
!upstream/heic2any.min.js
!upstream/folderframe.config.json
!upstream/LICENSE
!upstream/docs/images/folderframe-logo.png
!upstream/docs/images/folderframe-icon.png
